.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.venv/
venv/
env/
ENV/
build/
dist/
*.egg-info/
.env

.vscode/
.idea/
*.swp

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

models/*
!models/.gitkeep
